/*--- Normes ---*/
*{padding: 0; margin: 0; /*background-color: #ffffff !important;*/}
a{text-decoration: none;}
body{
  font-family: 'Hevetica', sans-serif;
}



/*----********** MENU RECHERCHE **********----*/
.section-menu-recherche{
	width: 100%;
	padding: 90px 0;
	background-image: url(../IMG/couv-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.inner-menu-recherche{
	width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}
.menu-recherche{
	display: block;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 25px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}
/*Titre*/
.menu-recherche-titre{
  font-weight: 700;
  font-size: 20pt;
  color: #343a40;
  margin-bottom: 10px;
}
/*Texte*/
.menu-recherche-texte{
	display: inline-block;
}
.span-texte{
  padding-right: 8px;
  font-size: 12pt;
}
/**/
.space-recerche{}
.botton-content{
	display: inline-block;
  margin-right: 8px;
  margin-top: 15px;
}
/**/
.botton{
  position: relative;
	display: inline-block;
  padding: 6px 18px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color:#eee;
}
.deroulant{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  background: 0 0;
  -webkit-appearance: none;
  cursor: pointer;
  opacity: 0;
  font-size: 12pt;
  color: #555;
  background-color:#eee;
}
.picto-deroulant{
	height: 10px;
}
/**/
.option-def{
	display: none!important;
  visibility: hidden!important;
}
option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
/**/
.botton-recherche{
	color: #fff;
  background-color: #608ec9;
  text-transform: none;
	font-size: 14px;
  padding: 6px 18px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
}
/*----********** FIN MENU RECHERCHE **********----*/


/*
=========================================
=========================================
============ SECTION VOYAGES ============
=========================================
=========================================
*/

/*----********** GENERAL **********----*/

.section-voyages{  
 	width: 100%;
}
.inner-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
 	width: 1160px;
  margin: 0 auto;
  padding: 50px 0px; 
}
/*----********** FIN GENERAL **********----*/



/*---********** SPACE ARTICLE **********---*/
.space-article{
  width: 75%;
  box-sizing: border-box;
  padding: 0 15px;
}
/*---TITRE---*/
.section-titre{
	margin: 15px 0 30px 0;
  font-size: 26;
}
/*---ARTICLES GENERAL---*/
/*-Exterieur-*/
.article-box{
	display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -15px;
}
.article{
	width: 33.333334%;
}
.article-inner{
  padding: 15px;
}
.article-content{
	border: 1px solid lightgrey;
	height: fit-content;
}

/*-Interieur-*/
/*====================*/
.article-box-img{
  width: 100%;
  height: fit-content;  
}
.article-img{
  width: 100%; 
  padding-bottom: 66%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}
/*====================*/
.article-text{
	padding: 15px 15px 0 15px;
	box-sizing: border-box;
	width: 100%;
}

/*---*/
.picto-local{
	height: 18px;
	width: 20px;
	float: left;
	margin-right: 5px;
	margin-left: -2px;
}
.article-local{
	margin-top: 2px;
	font-size: 10pt;
	font-weight: 700;
	color: grey;
}
/*---*/
.article-titre{
	font-size: 11pt;
  font-weight: 900;
  line-height: 18px;
  max-height: 36px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  color: #343a40;
  margin: 12px 0 6px 0;
  height: 36px;
}
/*---*/
.article-box-info{
	box-sizing: content-box;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	line-height: 16px;
  padding-bottom: 15px;
  max-height: 18px;
}
.article-info{
	font-size: 10pt;
	font-weight: 300;
	color: grey;
	margin-right: 3px;
}
.article-prix{
	font-size: 13pt;
	font-weight: 700;
	color: steelblue;
}
/*---FIN ARTICLES GENERAL---*/

/*---ARTICLES SPE---*/

/*---FIN ARTICLES SPE---*/


/*---********** FIN SPACE ARTICLE **********---*/





/*----********** SEPACE PUB **********----*/
.space-pub{
  background-color: pink;
	width: 25%;
}

.pub-box{
	background-color: indigo;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
	padding: 0 15px;
}
.pub-1{
  background-color: orange;
  background-image: url(../IMG/pub-1_1.png); 
	height: 100%;
  width: 100%;
  padding-bottom: 175%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
	margin: 15px 0;
}
.pub-2{
  background-color: crimson; 
	width: 100%;
	height: 450px;
	margin: 15px 0;
}
/*----********** FIN SEPACE PUB **********----*/


/*
=========================================
=========================================
========== FIN SECTION VOYAGES ==========
=========================================
=========================================
*/





/**********************************
********** RESPONSIF - 1 - **********
**********************************/
@media only screen and (max-width: 1260px){
	/*----********** GENERAL **********----*/
	.inner-page{
	 	width: 960px;
	  padding: 15px 0px; 
	}
		.inner-menu-recherche{
	 	width: 960px;
	}
	/*----********** FIN GENERAL **********----*/
	/*---********** SPACE ARTICLE **********---*/
	.article-box-info{
	line-height: 18px;
  padding-bottom: 22px;
}
	/*---********** FIN SPACE ARTICLE **********---*/
	/*----********** SEPACE PUB **********----*/
	.space-pub{
	}
	/*----********** FIN SEPACE PUB **********----*/
}
/**********************************
**********************************/




/**********************************
********** RESPONSIF - 2 - **********
**********************************/
@media only screen and (max-width: 998px){
		/*----********** GENERAL **********----*/
	.inner-page{
	 	width: 870px;
	}
	.inner-menu-recherche{
	 	width: 720px;
	}
	/*----********** FIN GENERAL **********----*/
	/*---********** SPACE ARTICLE **********---*/
	.space-article{
	  width: 100%;
	}
	/*---********** FIN SPACE ARTICLE **********---*/
	/*----********** SEPACE PUB **********----*/
	.space-pub{
  width: 100%;
	}
	.pub-1{
	  width: 100%;
	  padding-bottom: 15%;
		margin: 30px auto 15px auto;
		background-image: url(../IMG/pub-1_2.png);
	}
	.pub-2{
		width: 100%;
		height: 50px;
	}
	/*----********** FIN SEPACE PUB **********----*/

}
/**********************************
**********************************/




/**********************************
********** RESPONSIF - 3 - **********
**********************************/
@media only screen and (max-width: 720px){
	/*----********** GENERAL **********----*/
	.inner-page{
	 	width: 700px;
	}
	/*----********** FIN GENERAL **********----*/
}
